body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2196F3; /* Material UI blue */
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.coffee-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.coffee-name {
    font-size: 18px;
}

.quantity-buttons {
    display: flex;
    align-items: center;
}



.quantity-buttons button {
    background-color: #2196F3;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 4px;
}