:root {
  /* ---------------- Text variables ---------------- */
  --font-family: "Karla", sans-serif;

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-800: 800;

  --step--2: clamp(0.79rem, calc(0.72rem + 0.33vw), 0.96rem);
  --step--1: clamp(0.89rem, calc(0.77rem + 0.61vw), 1.2rem);
  --step-0: clamp(1rem, calc(0.8rem + 0.98vw), 1.5rem);
  --step-1: clamp(1.13rem, calc(0.83rem + 1.46vw), 1.88rem);
  --step-2: clamp(1.27rem, calc(0.84rem + 2.1vw), 2.34rem);
  --step-3: clamp(1.42rem, calc(0.84rem + 2.94vw), 2.93rem);
  --step-4: clamp(1.6rem, calc(0.8rem + 4.02vw), 3.66rem);
  --step-5: clamp(1.8rem, calc(0.72rem + 5.42vw), 4.58rem);

  --font-size-body: var(--step-0);
  --font-size-body-S: var(--step--1);
  --font-size-body-XS: var(--step--2);
  --font-size-H1: var(--step-5);
  --font-size-H2: var(--step-4);
  --font-size-H3: var(--step-3);
  --font-size-H4: var(--step-2);
  --font-size-H5: var(--step-1);
  --font-size-H6: var(--step-6);

  /* ---------------- Color variables ---------------- */
  --accent-clr: #ec35b8;
  --primary-clr: #e8fdfe;
  --secondary-clr: #d0f8fa;
  --light-clr: #ffffff;
  --dark-clr: #002027;

  /* ---------------- Shadows ---------------- */
  --box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* ---------------- CSS RESET ---------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  height: 100%;
  background-color: var(--primary-clr);
  padding: 1em;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family);
  padding-inline: 1rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  letter-spacing: -0.06em;
  margin-bottom: 0.25em;
}

/* ---------------- GLOBAL SETTINGS ---------------- */
h1 {
  font-weight: var(--font-weight-800);
  font-size: var(--font-size-H1);
  line-height: var(--font-size-H1);
}

h2 {
  font-weight: var(--font-weight-800);
  font-size: var(--font-size-H2);
}


p {
  font-size: var(--font-size-body);
  margin-bottom: 1em;
  max-width: 65ch;
}

p.small {
  font-size: var(--font-size-body-S);
  letter-spacing: 0;
}
p.xsmall {
  font-size: var(--font-size-body-XS);
  letter-spacing: 0;
}

.bold {
  font-weight: var(--font-weight-700);
  color: var(--accent-clr);
  margin-bottom: 0;
}

#wrapper {
  max-width: 1440px;
  margin: auto;
}

main {
  display: grid;
  grid-auto-rows: auto;
  gap: 6em;
  margin-bottom: 6em;
}

button {
  display: flex;
  gap: 0.5em;
  align-items: center;
  background-color: var(--accent-clr);
  color: var(--light-clr);
  font-family: inherit;
  font-size: var(--font-size-body-XS);
  text-transform: uppercase;
  font-weight: var(--font-weight-800);
  border: none;
  outline: none;
  padding: 1em 2em;
  border-radius: 0.25em;
  cursor: pointer;
  line-height: 100%;
  transition: background-color 0.1s ease-in;
}

button:hover {
  background-color: #f049c1;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

.dark {
  background-color: var(--dark-clr);
  color: var(--light-clr);
}

input,
select {
  border: none;
  padding: 1.5em;
  text-transform: uppercase;
  font-weight: var(--font-weight-800);
  border-radius: 0.5em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

input::-webkit-input-placeholder {
  color: var(--dark-clr);
}

input::-ms-input-placeholder {
  color: var(--dark-clr);
}

input:-ms-input-placeholder {
  color: var(--dark-clr);
}

select {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

form button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 20px rgba(236, 53, 184, 0.35);
}

.icon {
  font-size: 0.5em;
  margin-left: 1em;
}

button .icon {
  font-size: 0.75em;
}


/* ---------------- BOOKING PAGE ---------------- */
.booking {
  padding: 4em 6em;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: var(--box-shadow);
  border-radius: 1em;
  width: 100%;
  max-width: 800px;
  margin-bottom: 4em;
}

.booking h1 {
  font-size: var(--font-size-H3);
  margin-bottom: 1em;
}
.booking h2 {
  font-size: var(--font-size-H5);
  margin-bottom: 1em;
  color: var(--accent-clr);
}

#booking-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  gap: 1.5em;
  margin-bottom: 4em;
}

.input-wrapper label {
  margin-bottom: 0.5em;
}

.span-2 {
  grid-column-end: span 2;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.radio-wrapper {
  display: flex;
  align-items: center;
  gap: 0.25em;
  font-size: var(--font-size-body-S);
  cursor: pointer;
  padding: 1em 0;
}

.radio-wrapper label {
  cursor: inherit;
}

#radio-btns {
  display: flex;
  align-items: center;
  gap: 1.5em;
  grid-column-end: span 2;
}

#radio-btns input {
  box-shadow: none;
  cursor: pointer;
}

.booking-section {
  margin-bottom: 4em;
}

.booking-list-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-clr);
  padding: 1em 2em;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.booking-list-item p {
  margin-bottom: 0;
  font-size: var(--font-size-body-S);
}

.booking-list-item input {
  box-shadow: none;
  cursor: pointer;
  margin-right: auto;
}

.booking-list-item button {
  display: flex;
  justify-content: center;
  max-width: 60px;
  margin-left: auto;
}

.fa-trash-can {
  pointer-events: none;
}

/* ---------------- KEYFRAMES ---------------- */
@keyframes fadeup {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* ---------------- MEDIA QUERIES ---------------- */

@media (max-width: 1000px) {
  html,
  body {
    padding: 0;
  }

  main {
    margin-bottom: 0;
  }

  #services,
  #reviews {
    padding-inline: 2em;
  }

  header {
    justify-content: space-between;
    padding-inline: 2em;
  }

  header nav {
    justify-content: flex-end;
    flex-grow: 0;
  }

  header ul,
  header .cta {
    display: none;
  }

  header .menu-icon {
    display: inline;
  }

  #hero,
  #usps,
  #cta {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border-radius: 0;
  }

  .hero__content {
    flex-grow: 1;
  }

  .hero__usps {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .usp__content-column,
  .usp__content-column {
    padding: 1em;
  }

  .services__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  footer {
    padding: 4em 4em 0 4em;
    border-radius: 1em 1em 0 0;
    display: grid;
    gap: 2em;
    grid-template-areas:
      "col-1"
      "col-2"
      "col-3"
      "col-4"
      "bottom";

    grid-template-columns: 1fr;
    border-radius: 0;
  }
}

@media (max-width: 800px) {
  main {
    gap: 4em;
  }
  .services__grid {
    grid-template-columns: 1fr;
  }

  .hero__usps {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .review__cards {
    flex-direction: column;
  }

  #cta form {
    flex-direction: column;
  }
}
